<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  mounted() {
    document.body.className = "reset";
  }
};
</script>

<style lang="scss">
@import "@/assets/style/global.scss";
</style>
