<template>
  <div class="modal-frame">
    <button v-on:click="hide" class="close-modal">
      <i class="fas fa-times fa-4x" />
    </button>
    <!--TOP CONTENT-->
    <div class="content-top">
      <h2>
        {{ Contents.title }}
      </h2>
      <div style="margin:10px 0px">
        <div v-if="isPremium">
          <div class="content-top__embed-sc--sealed">
            <h2>Premium会員限定コンテンツ</h2>
            <button
              onclick="location.href='https://premium.kai-you.net/register'"
            >
              Premium特典を見る
            </button>
          </div>
        </div>
        <div v-else>
          <iframe
            width="100%"
            height="120"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            :src="
              'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' +
                Contents.track +
                '&color=%2316171b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true'
            "
          />
        </div>
      </div>
      <button class="content-top__share-button--twitter">
        <i class="fab fa-twitter fa-2x" />
        <span class="content-top__share-button--times">3</span>
      </button>
      <button class="content-top__share-button--facebook">
        <i class="fab fa-facebook-f fa-2x" />
        <span class="content-top__share-button--times">47</span>
      </button>
      <button class="content-top__share-button--bookmark">
        <i class="fas fa-bookmark fa-2x" />
        <span class="content-top__share-button--times">8</span>
      </button>
      <button class="content-top__share-button--line">
        <i class="fab fa-line fa-2x" />
        <span class="content-top__share-button--times">124</span>
      </button>
      <p v-html="Contents.desc" />
    </div>
    <!--BOTTOM CONTENT-->
    <div class="content-bottom">
      <div class="row">
        <div class="content-bottom__timeline">
          <p>TIMELINE</p>
          <dl>
            <div v-for="(item, index) in Contents.tables" :key="index">
              <dt>{{ item.time }}</dt>
              <dd>{{ item.desc }}</dd>
            </div>
          </dl>
        </div>
        <div class="content-bottom__keyphrase">
          <p>KEYPHRASE</p>
          <div>
            <span v-for="(item, index) in Contents.keyPhrases" :key="index">
              <a :href="'https://kai-you.net/word/' + item" target="_blank">
                <i class="fas fa-tag" />
                {{ item }}
              </a>
            </span>
          </div>
        </div>
      </div>
      <!--TALKERS-->
      <div class="content-talkers">
        <p>TALKERS</p>
        <TalkerCard
          :talkerList="Contents.talkers"
          class="content-talkers__card"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VModal from "vue-js-modal";
import Contents from "@/views/kaiyouTalks";
import TalkerCard from "@/components/TalkerCard";
Vue.use(VModal);
export default {
  name: "DetailModal",
  props: ["index", "name", "isPremium"],
  data() {
    return {
      Contents: ""
    };
  },
  components: {
    TalkerCard
  },
  mounted: function() {
    if (this.isPremium) {
      this.Contents = Contents.data().premiumContents[this.index - 1];
    } else {
      this.Contents = Contents.data().freeContents[this.index];
    }
    this.modalName = name;
  },
  methods: {
    hide: function() {
      this.$modal.hide(this.name);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
$premium-color: #0086cc;
.content-top {
  margin: 0 auto;
  width: 100%;
  h2 {
    text-align: center;
    padding: 0 60px;
  }
  p {
    padding: 0px 10px;
  }
  &__embed-sc {
    margin: 10px 0px;
    z-index: 6;
    &--sealed {
      z-index: 6;
      height: 120px;
      width: 100%;
      background: linear-gradient(to bottom right, #00bec8, $premium-color);
      color: white;
      h2 {
        padding-top: 10px;
        text-align: center;
        font-size: 17px;
      }
      button {
        color: white;
        display: block;
        font-family: inherit;
        font-size: 17px;
        font-weight: 700;
        border: 1px solid white;
        background: transparent;
        margin: 0 auto;
        padding: 10px;
        transition: all ease 0.5s;
        cursor: pointer;
        &:hover {
          background: white;
          color: $premium-color;
        }
      }
    }
  }
  %__share-button {
    padding: 5px 15px;
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    @include mq(md) {
      width: 20%;
      margin-left: 1%;
    }
    i {
      margin-top: -2px;
      margin-left: -25px;
      color: white;
    }
    span {
      font-weight: 700;
      font-size: 20px;
      float: right;
      color: white;
      width: auto;
      @include mq(md) {
        font-size: 15px;
      }
    }
  }
  &__share-button {
    &--twitter {
      @extend %__share-button;
      background: #1da1f2;
    }
    &--facebook {
      @extend %__share-button;
      background: #1877f2;
    }
    &--bookmark {
      @extend %__share-button;
      background: #2dcdb5;
    }
    &--line {
      @extend %__share-button;
      background: #00b900;
    }
  }
}
.content-bottom {
  width: 100%;
  background: linear-gradient(to bottom right, #1da1f2, #053675);
  padding: 3px 10px;
  margin-top: 15px;
  color: white;
  @include mq(md) {
    width: auto;
  }
  .row {
    display: flex;
    @include mq(md) {
      display: block;
    }
  }
  %__common-title {
    font-size: 50px;
    font-weight: 900;
    color: rgba(white, 0.75);
    margin: -10px 0 -20px 0;
    padding-top: -20px;
    @include mq(md) {
      margin: 0px 0 -20px 0;
    }
  }
  &__timeline {
    width: 55%;
    @include mq(md) {
      width: 100%;
    }
    p {
      @extend %__common-title;
    }
    dl {
      dt {
        float: left;
        padding: 2px 0px;
      }
      dd {
        padding: 2px 10px;
      }
    }
  }
  &__keyphrase {
    width: 45%;
    @include mq(md) {
      width: 100%;
    }
    p {
      @extend %__common-title;
    }
    div {
      margin-top: 10px;
      padding-right: 10px;
      span {
        display: inline-block;
        width: auto;
        color: black;
        font-weight: 600;
        padding: 2px 10px;
        margin: 3px;
        background: white;
        border-radius: 20px;
        border: 1px solid gray;
        a {
          text-decoration: none;
          color: inherit;
        }
        i {
          color: white;
          background: #1da1f2;
          padding: 5px;
          margin: 0px 5px 0px -5px;
          border-radius: 50%;
        }
      }
    }
  }
}
.content-talkers {
  p {
    @extend %__common-title;
  }
  &__card {
    margin-top: 10px;
  }
}
.modal-frame {
  position: relative;
  margin: 0 auto;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  @include mq(md) {
    width: 100%;
    margin: 0 auto;
  }
  .close-modal {
    background: #1da1f2;
    position: sticky;
    width: 60px;
    height: 60px;
    top: 0;
    float: right;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    transition: all ease 0.25s;
    z-index: 100;
    @include mq(md) {
      top: 0px;
    }
    &:hover {
      background: #053675;
      transition: all ease 0.25s;
    }
    i {
      color: white;
    }
  }
}
</style>
