<template>
  <div class="header">
    <img src="@/assets/img/header.png" />
    <div>
      <h1>KAI-YOU Talks</h1>
      <p>聴くと耳がポップになるラジオ</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
.header {
  position: relative;
  margin-bottom: 15px;
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 1;
    margin-bottom: -4px;
  }
  div {
    position: absolute;
    top: 40%;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 0.25em;
      font-weight: 700;
    }
  }
}
</style>
