<template>
  <div class="latestTalk">
    <h2>{{ Content.title }}</h2>
    <div class="image-box">
      <div class="image-box__overlay" />
      <img src="@/assets/img/talk_01.jpg" class="image-box__image" />
      <p class="image-box__episode-number">#{{ Length }}</p>
      <p class="image-box__episode-date">{{ Content.date }}</p>
    </div>
    <div class="text-box">
      <iframe
        width="100%"
        height="120"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        :src="
          'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' +
            Content.track +
            '&color=%2316171b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true'
        "
      />
      <p class="text-box__description" v-html="Content.desc" />
      <button
        class="text-box__modal-link"
        v-on:click="show()"
        v-html="'詳しく見る'"
      />
    </div>
    <!--MODAL--->
    <modal
      name="latest"
      :draggable="false"
      :resizable="true"
      :clickToClose="false"
      :maxWidth="800"
      :width="'800px'"
      :height="'auto'"
      :scrollable="true"
      :adaptive="true"
    >
      <DetailModal :index="0" name="latest" />
    </modal>
  </div>
</template>

<script>
import Vue from "vue";
import VModal from "vue-js-modal";
import DetailModal from "@/components/DetailModal";
import Contents from "@/views/kaiyouTalks";
Vue.use(VModal);
export default {
  name: "LatestTalk",
  components: {
    DetailModal
  },
  data() {
    return {
      Content: "", //最新トークのデータ(配列)
      Length: "", //無料のトーク数
      Width: "" //モーダル幅
    };
  },
  mounted: function() {
    this.Content = Contents.data().freeContents[0];
    this.Length = String(Contents.data().freeContents.length - 1);
  },
  methods: {
    show: function() {
      this.$modal.show("latest");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
.latestTalk {
  position: relative;
  width: 1040px;
  height: auto;
  margin: 15px auto;
  @include mq(md) {
    width: 95%;
  }
  h2 {
    position: absolute;
    background: white;
    display: inline;
    color: black;
    top: 10px;
    right: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    z-index: 10;
    margin: 0;
    line-height: 1.1em;
    padding: 0px 10px;
    @include mq(md) {
      position: absolute;
      display: inline;
      top: 0px;
      padding: 10px 10px;
      height: auto;
      font-size: 1.75rem;
      text-align: right;
    }
  }
}
.image-box {
  position: relative;
  height: 550px;
  width: 1040px;
  margin: 0 auto;
  @include mq(md) {
    width: 100%;
    height: 400px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, black);
    z-index: 5;
  }
  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__episode-number {
    position: absolute;
    color: rgba(white, 0.5);
    top: 0;
    left: 10px;
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0 0 5px rgba(black, 0.25);
    z-index: 6;
  }
  &__episode-date {
    position: absolute;
    color: rgba(white, 0.5);
    bottom: 0;
    left: 10px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    z-index: 6;
  }
}
.text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 320px;
  width: 520px;
  margin-left: 100px;
  background: white;
  z-index: 6;
  @include mq(md) {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  &__description {
    margin: 0 10px;
    line-height: 1.4em;
  }
  &__modal-link {
    position: absolute;
    background: transparent;
    color: #00bec8;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 138px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    border: solid 1px #00bec8;
    transition: all 0.25s ease;
    cursor: pointer;
    &:hover {
      background: #00bec8;
      color: white;
      transition: all 0.25s ease;
    }
    @include mq(md) {
      position: relative;
      display: block;
      margin: 20px 0px 0px auto;
    }
  }
}
</style>
