<template>
  <div class="message">
    <h2>Message</h2>
    <p>質問・感想など、お気軽にどうぞ！</p>
    <input
      class="message__form--radio-name"
      placeholder="ラジオネーム"
      v-model="form.radioName"
    />
    <textarea
      class="message__form--impression"
      cols="40"
      rows="4"
      placeholder="番組へのご感想お待ちしております"
      v-model="form.impression"
    />
    <button
      v-html="'メッセージを送信する'"
      v-bind:class="{
        ableSubmit: form.radioName !== '' && form.impression !== ''
      }"
    />
  </div>
</template>

<script>
export default {
  name: "Message",
  data() {
    return {
      form: {
        radioName: "",
        impression: ""
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
.message {
  background: white;
  width: 1040px;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  @include mq(md) {
    width: 90%;
  }
  h2 {
    margin: 0 0 0 5px;
    padding: 0;
    @include mq(md) {
      text-align: center;
    }
  }
  p {
    margin: 0 0 0 5px;
    padding: 0;
    font-weight: 600;
    @include mq(md) {
      text-align: center;
    }
  }
  %__form {
    width: 1000px;
    margin: 10px 35px 0 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    border: solid 1px gray;
    border-radius: 5px;
    @include mq(md) {
      display: block;
      margin: 10px auto;
      width: 95%;
    }
  }
  &__form {
    &--radio-name {
      @extend %__form;
      height: auto;
      &::placeholder {
        color: gray;
        font-weight: 700;
      }
    }
    &--impression {
      @extend %__form;
      min-height: 200px;
      resize: vertical;
      &::placeholder {
        color: gray;
        font-weight: 700;
      }
    }
  }
  button {
    display: block;
    width: 1012px;
    margin: 10px 35px 0 5px;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    background: gray;
    color: white;
    @include mq(md) {
      width: 98%;
      margin: 10px auto;
    }
    &.ableSubmit {
      background: #00bec8;
      border: solid 1px white;
      transition: all ease 0.25s;
    }
  }
}
</style>
