<template>
  <div class="premium-pr">
    <img src="@/assets/img/premiumPR.png" />
    <div class="premium-pr__text-box">
      <h1 v-html="'KAI-YOU Premium'" />
      <p v-html="'更に深い、よりポップなトークをお届け'" />
      <button v-html="'サービス内容を知る'" />
    </div>
  </div>
</template>

<script>
export default {
  name: "PremiumPromo"
};
</script>

<style lang="scss" scoped>
.premium-pr {
  position: relative;
  margin: 15px auto;
  img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-bottom: -4px;
  }
  &__text-box {
    position: absolute;
    top: 30%;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  h1 {
    color: white;
    margin: 0;
  }
  p {
    color: white;
    margin: 0;
    letter-spacing: 0.25em;
    font-weight: 700;
  }
  button {
    background: linear-gradient(to bottom right, #00bec8, #3463ff);
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    border: none;
  }
}
</style>
