<template>
  <div class="talk-list">
    <h2 class="talk-list__title">{{ title }}</h2>
    <p class="talk-list__subtitle">{{ subTitle }}</p>
    <div style="display: flex; flex-wrap:wrap; justify-content: flex-start;">
      <!--TALK LIST-->
      <div
        class="talk-content"
        :class="{ 'talk-content--premium': isPremium }"
        v-for="(item, index) in Contents"
        :key="index"
      >
        <h2 class="talk-content__title">{{ item.title }}</h2>
        <div class="image-box">
          <div class="image-box__overlay" />
          <div v-lazy-container="{ selector: 'img' }">
            <img
              :data-src="require('@/assets/img/talks/' + item.image + '.jpg')"
              class="image-box__image"
            />
          </div>
          <p class="image-box__episode-number">
            #{{ Contents.length - index - 1 }}
          </p>
          <p class="image-box__episode-date">{{ item.date }}</p>
          <div v-if="isPremium">
            <div class="image-box__embed-sc--sealed">
              <h2>Premium会員限定コンテンツ</h2>
              <button
                onclick="window.open('https://premium.kai-you.net/register', '_blank')"
              >
                Premium特典を見る
              </button>
            </div>
          </div>
          <div v-else>
            <iframe
              class="image-box__embed-sc"
              width="100%"
              height="120"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              :src="
                'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' +
                  item.track +
                  '&color=%2316171b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true'
              "
            />
          </div>
        </div>
        <div class="text-box">
          <p class="text-box__description" v-html="item.desc" />
        </div>
        <button
          class="talk-content__modal-link"
          :class="{ 'talk-content--premium__modal-link': isPremium }"
          v-on:click="show(index + 1)"
        >
          詳しく見る
        </button>
      </div>
    </div>
    <!--MODAL--->
    <modal
      :name="this.modalName"
      :draggable="false"
      :resizable="true"
      :clickToClose="false"
      :maxWidth="800"
      :width="'800px'"
      :height="'auto'"
      :scrollable="true"
      :adaptive="true"
    >
      <DetailModal
        :index="this.sendIndex"
        :name="this.modalName"
        :isPremium="this.isPremium"
      />
    </modal>
  </div>
</template>

<script>
import Vue from "vue";
import VModal from "vue-js-modal";
import VueLazyload from "vue-lazyload";
import DetailModal from "@/components/DetailModal";
import Contents from "@/views/kaiyouTalks";
Vue.use(VModal);
Vue.use(VueLazyload, {
  observer: true
});
export default {
  name: "TalkList",
  props: {
    isPremium: {
      type: Boolean,
      default: false
    }
  },
  components: {
    DetailModal
  },
  data() {
    return {
      title: "",
      subTitle: "",
      modalName: "",
      Contents: "",
      sendIndex: 0
    };
  },
  mounted: function() {
    if (this.isPremium) {
      this.title = "Premium Talk";
      this.subTitle = "ここでしか聴けない内容が満載";
      this.modalName = "PremiumModal";
      this.Contents = Contents.data().premiumContents;
    } else {
      this.title = "Free Talk";
      this.subTitle = "気軽に聴けるポップなトーク";
      this.modalName = "FreeModal";
      this.Contents = Contents.data().freeContents.slice(
        1,
        Contents.data().freeContents.length
      );
    }
  },
  methods: {
    show: function(index) {
      this.sendIndex = index;
      this.$modal.show(this.modalName);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
$premium-color: #0086cc;
.talk-list {
  width: 1040px;
  margin: 15px auto;
  padding-left: 20px;
  @include mq(md) {
    width: 100%;
    padding-left: 0px;
  }
  &__title {
    margin: 0;
    padding: 0;
    @include mq(md) {
      text-align: center;
    }
  }
  &__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 0.1em;
    @include mq(md) {
      text-align: center;
    }
  }
}

%talk-content {
  position: relative;
  width: 500px;
  margin: 15px 5px 0px 5px;
  background: white;
  @include mq(md) {
    width: 100%;
    margin: 10px 5px;
  }
}
%__title {
  top: 0;
  right: 0;
  width: auto;
  padding: 3px 10px;
  margin: 0 0 0 50px;
  display: block;
  text-align: left;
  z-index: 10;
  position: absolute;
  @include mq(md) {
    font-size: 1.25rem;
  }
}
%__modal-link {
  position: absolute;
  background: white;
  height: 50px;
  width: 138px;
  bottom: 0;
  right: 0;
  display: block;
  margin: 0px 10px 10px auto;
  margin-top: auto;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.25s ease;
  cursor: pointer;
}
.talk-content {
  @extend %talk-content;
  border: solid 3px white;
  &__modal-link {
    @extend %__modal-link;
    color: #00bec8;
    border: solid 1px #00bec8;
    &:hover {
      background: #00bec8;
      color: white;
      transition: all 0.25s ease;
    }
  }
  &__title {
    @extend %__title;
    background: white;
    color: black;
  }
}
.talk-content--premium {
  @extend %talk-content;
  border: solid 3px $premium-color;
  &__modal-link {
    @extend %__modal-link;
    color: $premium-color;
    border: solid 1px $premium-color;
    &:hover {
      background: $premium-color;
      color: white;
      transition: all 0.25s ease;
    }
  }
  .talk-content__title {
    @extend %__title;
    background: $premium-color;
    color: white;
  }
}
.image-box {
  position: relative;
  &__image {
    height: 500px;
    width: 500px;
    object-fit: cover;
    @include mq(md) {
      width: 100%;
      margin: 0;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, black);
    z-index: 5;
  }
  %__episode {
    position: absolute;
    color: rgba(white, 0.75);
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0 0 5px rgba(black, 0.5);
    z-index: 6;
  }
  &__episode-number {
    @extend %__episode;
    top: 0;
    left: 10px;
    margin-top: 0;
  }
  &__episode-date {
    @extend %__episode;
    bottom: 120px;
    left: 10px;
    margin-bottom: 0;
  }
  &__embed-sc {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 6;
    &--sealed {
      position: absolute;
      bottom: -3px;
      left: 0;
      z-index: 6;
      height: 120px;
      width: 100%;
      background: linear-gradient(to bottom right, #00bec8, $premium-color);
      color: white;
      h2 {
        text-align: center;
        font-size: 17px;
      }
      button {
        color: white;
        display: block;
        font-family: inherit;
        font-size: 17px;
        font-weight: 700;
        border: 1px solid white;
        background: transparent;
        margin: 0 auto;
        padding: 10px;
        transition: all ease 0.5s;
        cursor: pointer;
        &:hover {
          background: white;
          color: $premium-color;
        }
      }
    }
  }
}
.text-box {
  margin-top: 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  &__description {
    line-height: 1.3em;
    margin-bottom: 70px;
  }
}
img[lazy="loaded"] {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: scrollIn;
}
@keyframes scrollIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
