<template>
  <div class="talkers">
    <div class="talkers__content">
      <h2>KAI-YOU Talkers</h2>
      <p>KAI-YOUのHyperPOPTalkers</p>
      <TalkerCard :talkerList="Contents" />
    </div>
  </div>
</template>

<script>
import Contents from "@/views/kaiyouTalks";
import TalkerCard from "@/components/TalkerCard";
export default {
  name: "Talkers",
  data() {
    return {
      Contents: ""
    };
  },
  components: {
    TalkerCard
  },
  mounted: function() {
    this.Contents = Contents.data().talkers;
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
.talkers {
  width: 100%;
  background: white;
  min-height: 400px;
  padding: 10px 0px 10px 10px;
  margin: 15px auto;
  @include mq(md) {
    padding: 0;
  }
  &__content {
    max-width: 1040px;
    margin: 0px auto;
  }
  h2 {
    margin: 0;
    padding: 0;
    @include mq(md) {
      text-align: center;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 0.1em;
    @include mq(md) {
      text-align: center;
    }
  }
}
</style>
