<template>
  <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
    <div class="profile" v-for="(item, index) in talkerList" :key="index">
      <div class="profile__text">
        <p class="profile__text--position">{{ item.position }}</p>
        <p class="profile__text--name">{{ item.name }}</p>
      </div>
      <div class="profile__link">
        <!--TWITTER-->
        <i
          v-if="item.link.twitter === ''"
          class="profile__link--twitter profile__link--disable fab fa-twitter"
        />
        <a v-else :href="item.link.twitter" target="_blank">
          <i class="profile__link--twitter fab fa-twitter" />
        </a>
        <!--INSTAGRAM-->
        <i
          v-if="item.link.instagram === ''"
          class="profile__link--instagram profile__link--disable fab fa-instagram"
          style="filter: grayscale(100%);"
        />
        <a v-else :href="item.link.instagram" target="_blank">
          <i class="profile__link--instagram fab fa-instagram" />
        </a>
        <!--PROFILE-->
        <i
          v-if="item.link.profile === ''"
          class="profile__link--profile profile__link--disable fas fa-link"
          style="filter: grayscale(100%);"
        />
        <a v-else :href="item.link.profile" target="_blank">
          <i class="profile__link--profile fas fa-link" />
        </a>
      </div>
      <div class="profile__overlay" />
      <div v-lazy-container="{ selector: 'img' }">
        <img
          class="profile__image"
          :data-src="require('@/assets/img/talkers/' + item.image + '.jpg')"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueLazyload from "vue-lazyload";
Vue.use(VueLazyload, {
  observer: true
});
export default {
  name: "TalkerCard",
  props: ["talkerList"]
};
</script>

<style lang="scss" scoped>
@import "@/assets/style/global.scss";
.profile {
  position: relative;
  background: white;
  width: 250px;
  height: 155px;
  margin: 15px 5px 0px 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(black, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  @include mq(md) {
    width: 45%;
    height: 290px;
    margin: 10px 2%;
  }
  &__image {
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 5px;
    height: 145px;
    width: 145px;
    object-fit: cover;
    @include mq(md) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      margin: 0px auto;
    }
  }
  &__overlay {
    position: absolute;
    overflow: hidden;
    top: 3px;
    right: 37%;
    height: 95%;
    width: 10%;
    background: white;
    z-index: 5;
    transform: rotateZ(-5deg);
    @include mq(md) {
      display: none;
    }
  }
  &__text {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 52%;
    z-index: 10;
    @include mq(md) {
      top: 238px;
      left: 0;
    }
    &--position {
      font-size: 13px;
      font-weight: bold;
      color: gray;
      line-height: 1em;
      margin-top: 10px;
      @include mq(md) {
        line-height: 0.5em;
        margin-left: 6px;
      }
    }
    &--name {
      color: black;
      font-size: 14px;
      font-weight: bold;
      line-height: 1em;
      margin-left: 2%;
      width: 120px;
      @include mq(md) {
        width: 100%;
        line-height: 1em;
        margin-left: 6px;
        margin-top: -8px;
      }
    }
  }
  %__link {
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 4px;
  }
  &__link {
    position: absolute;
    bottom: 10px;
    margin-top: 0;
    left: 58%;
    z-index: 10;
    @include mq(md) {
      top: 210px;
      left: 2px;
    }
    &--twitter {
      @extend %__link;
      background: #1da1f2;
    }
    &--instagram {
      @extend %__link;
      background: black;
    }
    &--profile {
      @extend %__link;
      background: orange;
    }
    &--disable {
      background: gray;
    }
  }
}
img[lazy="loaded"] {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: scrollIn;
}
@keyframes scrollIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
