$breakpoints: (
  "md": "screen and (max-width: 1040px)"
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.reset {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 游ゴシック体,
    YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  overflow-x: hidden;
}