<template>
  <div>
    <a href="#message" class="button-to-message">
      <i class="far fa-envelope fa-2x" />
    </a>
    <!--NAVIGATION-->
    <div>
      <img
        src="@/assets/img/navigation.png"
        style="margin-bottom: -5px; width:100%;"
      />
    </div>
    <!--HEADER-->
    <Header />
    <!--MAIN-->
    <div id="main">
      <!--LATEST TALK-->
      <LatestTalk />
      <!--PREMIUM PROMO-->
      <PremiumPromo />
      <!--TALK LIST:FREE-->
      <TalkList />
      <!--TALK LIST:PREMIUM-->
      <TalkList :isPremium="true" />
    </div>
    <!--TALKERS-->
    <Talkers />
    <!--MESSAGE-->
    <Message id="message" />
    <!--FOOTER-->
    <div>
      <img
        src="@/assets/img/Footer.png"
        style="margin-bottom: -5px; width:100%;"
      />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import LatestTalk from "@/components/LatestTalk";
import PremiumPromo from "@/components/PremiumPromo";
import TalkList from "@/components/TalkList";
import Talkers from "@/components/Talkers";
import Message from "@/components/Message";

export default {
  name: "home",
  components: {
    Header: Header,
    LatestTalk: LatestTalk,
    PremiumPromo: PremiumPromo,
    TalkList: TalkList,
    Talkers: Talkers,
    Message: Message
  },
  data() {
    return {
      freeContents: [
        {
          title: "2018年のポップ",
          desc:
            "ようこそ 2018年！ ポップを探求するKAI-YOU代表 わいがちゃんよねや と、KAI-YOU.net編集長 にいみなお が、2018年に起こるポップな事象を大予測します。",
          date: "2018.02.05",
          track: "394714563",
          image: "01",
          tables: [
            {
              time: "01:07",
              desc: "わいがちゃんよねやとにいみなおの2018年の抱負"
            },
            {
              time: "05:33",
              desc: "TVには世相が反映されていない？"
            },
            {
              time: "12:25",
              desc: "映画は2016年を追いかけた年だった？"
            },
            {
              time: "13:40",
              desc: "コミケとネットに「降りてきた」芸能人"
            },
            {
              time: "20:48",
              desc: "子どもだけの文化から抜け出したYouTuber"
            },
            {
              time: "23:26",
              desc: "インターネットの倫理観について"
            },
            {
              time: "28:35",
              desc: "2018年ポップカルチャーはどうなる？"
            },
            {
              time: "31:35",
              desc: "体験型オタクコンテンツの発展"
            },
            {
              time: "34:20",
              desc: "アニメはいつまで盛り上がるの？"
            },
            {
              time: "38:28",
              desc: "「好き」と「嫌い」でしか語れなくなってる世界"
            },
            {
              time: "46:19",
              desc: "海外の障壁が消えていく日本"
            }
          ],
          keyPhrases: [
            "KAI-YOU",
            "ポップ",
            "わいがちゃんよねや",
            "にいみなお",
            "海外",
            "日本",
            "2018年",
            "アニメ",
            "映画",
            "ストリート",
            "インターネット",
            "インフルエンサー",
            "Youtuber"
          ],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            }
          ]
        },
        {
          title: "2017年 ハイパーポップ漫画決定戦",
          desc:
            "2017年を代表する最高の漫画を決めるために、漫画好きのKAI-YOUメンバーが集まりました。年末年始はゆっくりコタツで漫画を読むのはいかがでしょうか？",
          date: "2017.12.27",
          track: "375276581",
          image: "02",
          tables: [],
          keyPhrases: [
            "漫画",
            "HUNTER",
            "BANANA FISH",
            "夢印 -MUJIRUSHI-",
            "米代恭",
            "Dr.STONE"
          ],
          talkers: [
            {
              position: "Director",
              name: "かたやまけん",
              image: "07",
              link: {
                twitter: "",
                instagram: "",
                profile: ""
              }
            },
            {
              position: "Engineer",
              name: "キャベツこうべ",
              image: "10",
              link: {
                twitter: "https://twitter.com/cabbagekobe",
                instagram: "",
                profile: ""
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            },
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            }
          ]
        },
        {
          title: "卍化する社会",
          desc:
            "世の中は卍化している！<br>KAI-YOU.netの9月の特集「インターネット卍ジェニック」に絡め、YouTuberやInstagram、さまざまな卍話をしました。",
          date: "2017.11.15",
          track: "356077505",
          image: "03",
          tables: [],
          keyPhrases: ["卍"],
          talkers: [
            {
              position: "Director",
              name: "ねりまちゃん",
              image: "08",
              link: {
                twitter: "https://twitter.com/nerimarina",
                instagram: "https://www.instagram.com/nerimarina/",
                profile: "https://nerimarina.hatenablog.com/"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            },
            {
              position: "Writer",
              name: "otone",
              image: "04",
              link: {
                twitter: "",
                instagram: "",
                profile: ""
              }
            }
          ]
        },
        {
          title: "2007年アニメ神",
          desc:
            "今から10年前、2007年のアニメはまさに神だった。<br>なぜ2007年アニメが神認定されているのか？今後のアニメはどうなっていくのか？<br>KAI-YOUのアニメオタクたちが語ります。",
          date: "2017.09.15",
          track: "342454864",
          image: "04",
          tables: [],
          keyPhrases: [
            "アニメ",
            "らき☆すた",
            "ひだまりスケッチ",
            "ぼくらの",
            "Shool Days"
          ],
          talkers: [
            {
              position: "Director",
              name: "ねりまちゃん",
              image: "08",
              link: {
                twitter: "https://twitter.com/nerimarina",
                instagram: "https://www.instagram.com/nerimarina/",
                profile: "https://nerimarina.hatenablog.com/"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            }
          ]
        },
        {
          title: "『メアリと魔女の花』ポスト宮崎駿という呪い",
          desc:
            "スタジオポノックによる第1回長編作品、米林宏昌監督最新作『メアリと魔女の花』を鑑賞しての感想を話しました。<br>さらにそれを受けて、「ポスト宮崎駿」とは誰なのか？ そもそも「ポスト宮崎駿」という言葉自体が呪いなのでは？ など、みんなで考えました。",
          date: "2017.08.11",
          track: "337279797",
          image: "05",
          tables: [],
          keyPhrases: [
            "メアリと魔女の花",
            "米林宏昌",
            "宮崎駿",
            "スタジオポノック",
            "スタジオジブリ"
          ],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "Editor",
              name: "ふじきりょうすけ",
              image: "09",
              link: {
                twitter: "",
                instagram: "https://www.instagram.com/ryousuke.fujiki/",
                profile: "https://kai-you.net/author/ryotan"
              }
            },
            {
              position: "Editor",
              name: "おんだゆうた",
              image: "03",
              link: {
                twitter: "https://twitter.com/ondarion",
                instagram: "",
                profile: ""
              }
            },
            {
              position: "Designer",
              name: "CKS",
              image: "05",
              link: {
                twitter: "https://twitter.com/_C_K_S_",
                instagram: "https://www.instagram.com/_c_k_s_/",
                profile: ""
              }
            }
          ]
        },
        {
          title: "『HUNTER×HUNTER』は1000年後に残る漫画になる",
          desc:
            "冨樫義博先生の漫画『HUNTER×HUNTER』について話しました。2017年6月26日発売に発売された「週刊少年ジャンプ」で連載再開、最新34巻が発売。<br>単行本巻末での作品解説についてや、今後の展開予想など、ハンターファンのKAI-YOUスタッフが集まりました。※全編ネタバレ注意！",
          date: "2017.07.21",
          track: "334025170",
          image: "06",
          tables: [],
          keyPhrases: ["HUNTER×HUNTER", "冨樫義博", "週刊少年ジャンプ"],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "Editor",
              name: "ふじきりょうすけ",
              image: "09",
              link: {
                twitter: "",
                instagram: "https://www.instagram.com/ryousuke.fujiki/",
                profile: "https://kai-you.net/author/ryotan"
              }
            },
            {
              position: "Art Director",
              name: "bpm",
              image: "06",
              link: {
                twitter: "",
                instagram: "",
                profile: ""
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            }
          ]
        },
        {
          title: "Podcastはじめました！",
          desc:
            "ポップポータルメディアKAI-YOU.netがお送りする、日々のポップな出来事をねほりはほりお話していく番組「KAI-YOU Talks」。「聴くと耳がポップになる！」をテーマにお届けします。<br>ep.0は、パーソナリティのかよちゃんとねりまちゃんによる説明回です。",
          date: "2017.07.14",
          track: "333152038",
          image: "07",
          tables: [],
          keyPhrases: ["KAI-YOU.net", "渋谷", "ラジオ"],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "Director",
              name: "ねりまちゃん",
              image: "08",
              link: {
                twitter: "https://twitter.com/nerimarina",
                instagram: "https://www.instagram.com/nerimarina/",
                profile: "https://nerimarina.hatenablog.com/"
              }
            }
          ]
        }
      ],
      premiumContents: [
        {
          title: "Epic VS Apple プラットフォーム戦争はどこへ行くのか",
          desc:
            "先週のトークトピックスにもなったEpic と Apple の『Fortnite』の課金方法に関するトラブルについて、白熱した議論を繰り広げました！",
          date: "2020.08.27",
          track: "",
          image: "101",
          tables: [
            {
              time: "01:07",
              desc: "Epic VS Apple＆Google事件、どう思う？"
            },
            {
              time: "05:33",
              desc: "「30%」の手数料は高い？妥当？"
            },
            {
              time: "12:25",
              desc: "アプリはオワコン説"
            },
            {
              time: "13:40",
              desc: "EpicはGAFAの牙城を崩せるか"
            },
            {
              time: "20:48",
              desc: "中国と米国の”代理戦争”"
            },
            {
              time: "23:26",
              desc: "Fortniteはどうなっちゃうの！？"
            },
            {
              time: "28:35",
              desc: "プラットフォームへの依存、日本IT業界の可能性について"
            },
            {
              time: "31:35",
              desc: "敗戦した我々はどこを目指すか"
            }
          ],
          keyPhrases: [
            "KAI-YOU",
            "ポップ",
            "わいがちゃんよねや",
            "にいみなお",
            "海外",
            "日本",
            "2018年",
            "アニメ",
            "映画",
            "ストリート",
            "インターネット",
            "インフルエンサー",
            "Youtuber"
          ],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            }
          ]
        },
        {
          title: "KAI-YOU三銃士がコミケの未来を考える",
          desc:
            "先週のトークトピックスにもなったコミケのない夏について、KAI-YOU三銃士が真剣に考えました！<br>コミケとともに歩んできたKAI-YOUならではのトークになっていますので、ぜひお聞きください",
          date: "2020.07.30",
          track: "",
          image: "102",
          tables: [
            {
              time: "01:07",
              desc: "コミケでよく注意されるKAI-YOU"
            },
            {
              time: "05:33",
              desc: "初めてのコミケ体験で涼宮ハルヒになった話"
            },
            {
              time: "12:25",
              desc: "コミケを代替することはできるのか"
            },
            {
              time: "13:40",
              desc: "コミケが1年無い影響とオタクについて考える"
            },
            {
              time: "20:48",
              desc: "来年もコミケがない！？KAI-YOUができること"
            },
            {
              time: "23:26",
              desc: "いま改めて考えるコミケの価値とは"
            }
          ],
          keyPhrases: [
            "KAI-YOU",
            "ポップ",
            "わいがちゃんよねや",
            "にいみなお",
            "海外",
            "日本",
            "2018年",
            "アニメ",
            "映画",
            "ストリート",
            "インターネット",
            "インフルエンサー",
            "Youtuber"
          ],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            }
          ]
        },
        {
          title: "激論！最強のメディア'YouTube'",
          desc:
            "最強のCGM、”YouTube”について、KAI-YOU Premium編集部とKAI-YOU随一のYouTubeウォッチャーかよちゃんが、激論を交わします！<br>ぜひ、ラジオを聞いて、あなたの意見を教えてください。",
          date: "2020.06.26",
          track: "",
          image: "103",
          tables: [
            {
              time: "01:07",
              desc: "見てるYouTube教えて！"
            },
            {
              time: "05:33",
              desc: "炎上系YouTuberビジネス"
            },
            {
              time: "12:25",
              desc: "視聴者のリテラシーのあり方"
            },
            {
              time: "13:40",
              desc: "HIKAKIN都知事待望論"
            },
            {
              time: "20:48",
              desc: "YouTubeを超えるCGMは出てくるのか？"
            }
          ],
          keyPhrases: [
            "KAI-YOU",
            "ポップ",
            "わいがちゃんよねや",
            "にいみなお",
            "海外",
            "日本",
            "2018年",
            "アニメ",
            "映画",
            "ストリート",
            "インターネット",
            "インフルエンサー",
            "Youtuber"
          ],
          talkers: [
            {
              position: "Planner",
              name: "かよちゃん",
              image: "12",
              link: {
                twitter: "https://twitter.com/kkkayochan",
                instagram: "https://www.instagram.com/kai_you_ed/",
                profile:
                  "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
              }
            },
            {
              position: "CEO",
              name: "わいがちゃんよねや",
              image: "02",
              link: {
                twitter: "https://twitter.com/TYonemura",
                instagram: "https://www.instagram.com/tyanyone/",
                profile: "https://kai-you.net/author/tyanyone"
              }
            },
            {
              position: "Chief Director",
              name: "にいみなお",
              image: "01",
              link: {
                twitter: "https://twitter.com/nao_nim",
                instagram: "",
                profile: "https://kai-you.net/author/nimnao"
              }
            }
          ]
        }
      ],
      talkers: [
        {
          position: "Chief Director",
          name: "にいみなお",
          image: "01",
          link: {
            twitter: "https://twitter.com/nao_nim",
            instagram: "",
            profile: "https://kai-you.net/author/nimnao"
          }
        },
        {
          position: "CEO",
          name: "わいがちゃんよねや",
          image: "02",
          link: {
            twitter: "https://twitter.com/TYonemura",
            instagram: "https://www.instagram.com/tyanyone/",
            profile: "https://kai-you.net/author/tyanyone"
          }
        },
        {
          position: "Editor",
          name: "おんだゆうた",
          image: "03",
          link: {
            twitter: "https://twitter.com/ondarion",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Writer",
          name: "otone",
          image: "04",
          link: {
            twitter: "",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Designer",
          name: "CKS",
          image: "05",
          link: {
            twitter: "https://twitter.com/_C_K_S_",
            instagram: "https://www.instagram.com/_c_k_s_/",
            profile: ""
          }
        },
        {
          position: "Art Director",
          name: "bpm",
          image: "06",
          link: {
            twitter: "",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Director",
          name: "かたやまけん",
          image: "07",
          link: {
            twitter: "",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Director",
          name: "ねりまちゃん",
          image: "08",
          link: {
            twitter: "https://twitter.com/nerimarina",
            instagram: "https://www.instagram.com/nerimarina/",
            profile: "https://nerimarina.hatenablog.com/"
          }
        },
        {
          position: "Editor",
          name: "ふじきりょうすけ",
          image: "09",
          link: {
            twitter: "",
            instagram: "https://www.instagram.com/ryousuke.fujiki/",
            profile: "https://kai-you.net/author/ryotan"
          }
        },
        {
          position: "Engineer",
          name: "キャベツこうべ",
          image: "10",
          link: {
            twitter: "https://twitter.com/cabbagekobe",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Writer",
          name: "山下智也",
          image: "11",
          link: {
            twitter: "https://twitter.com/Foolish5884New",
            instagram: "",
            profile: ""
          }
        },
        {
          position: "Planner",
          name: "かよちゃん",
          image: "12",
          link: {
            twitter: "https://twitter.com/kkkayochan",
            instagram: "https://www.instagram.com/kai_you_ed/",
            profile:
              "https://kai-you.net/word/%E3%81%8B%E3%82%88%E3%81%A1%E3%82%83%E3%82%93"
          }
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.button-to-message {
  position: fixed;
  bottom: 20px;
  left: 80%;
  z-index: 100;
  padding: 15px;
  background: #1877f2;
  border-radius: 50%;
  box-shadow: 0 0 5px #1877f2;
  i {
    color: white;
  }
}
</style>
